<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awfs.coordination">

    <permission
        android:name="com.awfs.coordination.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.awfs.coordination.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Barcode scanner -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- To check application on background or not for KITKAT -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <!-- replace above two with next line after Android 4.2 -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.setParameters"
        android:required="false" />

    <!-- end barcode scanner -->


    <!-- for Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- for htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- for sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <!-- for apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- for solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- for huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <!-- for ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="za.co.woolworths.financial.services.android.models.WoolworthsApplication"
        android:icon="@drawable/appicon"
        android:label="@string/app_label"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WSplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WebViewActivity"
            android:icon="@drawable/ic_action_bar_logo"
            android:screenOrientation="portrait"
            android:theme="@style/SSOActivity" />
        <!-- Goolge Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBscGwCrt-mloCl8JXkqX95r3_gwtRLnk4" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.StoreDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreDetails" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.SearchStoresActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreSearch" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CLIStepIndicatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ShoppingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingList" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CLIActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingList" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.LoanWithdrawalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoanWithdrawal"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.LoanWithdrawalSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoanWithdrawal" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.FAQDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.LoanWithdrawalConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoanWithdrawal" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.MessagesActivity"
            android:parentActivityName="za.co.woolworths.financial.services.android.ui.activities.WOneAppBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Messages">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="za.co.woolworths.financial.services.android.ui.activities.WOneAppBaseActivity" />
        </activity>
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WOneAppBaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/OneAppBaseTheme" />

        <!-- Firebase Notifications -->
        <service android:name="za.co.woolworths.financial.services.android.util.WFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="za.co.woolworths.financial.services.android.util.WFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.MyAccountCardsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAccountCards" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.SSOActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SSOActivity" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WTransaction" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CLISupplyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WRewardsMembersInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WRewardsInfo" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WRewardsVoucherDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WRewardsVoucherDetails" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WRewardsVoucherTermAndConditions"
            android:screenOrientation="portrait"
            android:theme="@style/WTransaction" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ProductSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ProductSubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.MultipleImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.EnterBarcodeActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAccountCards" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ProductGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.util.zxing.QRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ProductDetailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <meta-data
            android:name="za.co.woolworths.financial.services.android.util.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CustomPopUpDialogManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WContactUsActivityNew"
            android:screenOrientation="portrait"
            android:theme="@style/ContactUs" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.FAQDetailsWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.UserDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WInternalWebPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
    </application>

</manifest>