<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.awfs.coordination">

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Barcode scanner -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <!-- To check application on background or not for KITKAT -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <!-- replace above two with next line after Android 4.2 -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.setParameters"
        android:required="false" />

    <!-- end barcode scanner -->


    <!-- for Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- for htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- for sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <!-- for apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- for solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- for huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <!-- for ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="za.co.woolworths.financial.services.android.models.WoolworthsApplication"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="${appLabel}"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:label">
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="wfs_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.StartupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:order="1"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www-win-qa.woolworths.co.za" />
                <data android:pathPattern="/cat.*" />
                <data android:pathPattern="/dept.*" />
                <data android:path="/fragments/common/dimension-search-results.jsp" />
            </intent-filter>
        </activity>
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WebViewActivity"
            android:icon="@drawable/ic_action_bar_logo"
            android:theme="@style/SSOActivity" />
        <!-- Goolge Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBscGwCrt-mloCl8JXkqX95r3_gwtRLnk4" />

        <!-- Google Analytics -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="za.co.woolworths.financial.services.android.util.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.StoreDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreDetails" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.SearchStoresActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreSearch" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.loan.LoanWithdrawalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BalanceProtectionInsuranceStyle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.MessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Messages">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="za.co.woolworths.financial.services.android.ui.activities.dashboard.BottomNavigationActivity" />
        </activity>
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.SSOActivity"
            android:theme="@style/SSOActivity" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WTransaction" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WRewardsVoucherDetailsActivity"
            android:theme="@style/WRewardsVoucherDetails" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WRewardsVoucherTermAndConditions"
            android:screenOrientation="portrait"
            android:theme="@style/WTransaction" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.product.ProductSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.MultipleImageActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CustomPopUpWindow"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WInternalWebPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.InternalWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WStockFinderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StockFinderStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ConfirmColorSizeActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.BalanceProtectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.cli.FindOutMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.cli.CLIPhase2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.StatementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CLI"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WStoreLocatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreSearch" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.dashboard.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/bottomNavigationStyle"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Cart" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CartCheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Cart" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.DeliveryLocationSelectionActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Cart" />

        <!-- Firebase Notifications -->
        <service android:name="za.co.woolworths.financial.services.android.util.WFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="za.co.woolworths.financial.services.android.util.WFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.MyPreferencesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.product.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.BiometricsWalkthrough"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.TipsAndTricksViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.HowToPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.DebitOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DebitOrder" />
        <activity android:name="za.co.woolworths.financial.services.android.ui.activities.PortraitAppCompatActivity" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.bpi.BPIBalanceProtectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BalanceProtectionInsuranceStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.maintenance.MaintenanceMessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/RuntimeExceptionActivityStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.OrderDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/OrderDetailsActivityStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.AddToShoppingListActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WPdfViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TaxInvoiceActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ABSAOnlineBankingRegistrationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ABSAOnlineBankingToDeviceStyle"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.product.shop.ShoppingListDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle"
            />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.product.shop.ShoppingListSearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.card.MyCardDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.card.BlockMyCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.card.InstantStoreCardReplacementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.ErrorHandlerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ErrorHandlerActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.BarcodeScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BarcodeScanActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.AbsaStatementsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle" />
        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatActivityStyle"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.WRewardBenefitActivity"
            android:theme="@style/RewardBenefitDetailStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.StoreLocatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreLocatorActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.store_card.ScanStoreCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StoreLocatorActivityStyle" />

        <provider
            android:name="za.co.woolworths.financial.services.android.util.WFileProvider"
            android:authorities="${applicationId}.WFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.temporary_store_card.HowToUseTemporaryStoreCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.temporary_store_card.GetTemporaryStoreCardPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.store_card.RequestOTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.product.ProductInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle" />

        <activity android:name="za.co.woolworths.financial.services.android.ui.activities.card.MyCardActivityExtension" android:screenOrientation="portrait"/>

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.CreditCardActivationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.account.apply_now.AccountSalesActivity"
            android:theme="@style/salesPageMainStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.account.sign_in.AccountSignedInActivity"
            android:theme="@style/salesPageMainStyle" />

        <activity android:name="za.co.woolworths.financial.services.android.ui.activities.account.sign_in.information.CardInformationHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/salesPageMainStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.account.sign_in.payment_option.PaymentOptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/salesPageMainStyle" />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.account.MyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/salesPageMainStyle" />

        <activity android:name="za.co.woolworths.financial.services.android.ui.activities.CancelOrderProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShoppingListDetailActivityStyle"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name="za.co.woolworths.financial.services.android.ui.activities.credit_card_delivery.CreditCardDeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FaqStyle"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>